* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  background-image: url("assets/podcast.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  padding: 20px;
}

.header .navbar {
  display: flex;
  align-items: center;
}

nav .nav-links {
  list-style: none;
  justify-content: center;
}

.material-symbols-outlined {
  color: #d97807;
}

nav .nav-links li {
  cursor: pointer;
}

.header .nav-btn,
.header .menu-btn,
button {
  cursor: pointer;
}

.header .logo {
  height: 3rem;
  width: 3rem;
}

.nav-link:link,
.nav-link:visited {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s;
}

.signup-btn {
  background-color: #d97807;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.body-content {
  width: 100%;
  height: 85%;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.body-content .title h1 {
  text-align: center;
  font-size: 4rem;
}

.latest-episode {
  color: #fafafa;
  background-color: #d97807;
  padding: 1rem;
}

.profile-pic {
  border-radius: 50%;
  border: 3px solid #d97807;
  margin: -5px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title a {
  width: fit-content;
  border-radius: 1rem;
  text-decoration: none;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 62em) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    flex-grow: 1;
    justify-content: center;
  }

  nav .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav .nav-links .nav-link {
    padding: 0 2rem;
    margin-right: 2rem;
  }
  li a {
    text-align: center;
  }

  nav .nav-links:nth-last-child(2) {
    margin-right: 0;
  }

  .navbar .nav-links .side-nav-signup-btn {
    display: none;
  }

  .header .menu-btn {
    display: none;
  }
}

@media (max-width: 62em) {
  .main-nav-signup-btn {
    display: none;
  }

  .header .header-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .header .navbar {
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 0;
    left: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s linear;
  }

  .active .navbar {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: fixed;
  }

  .header .header-content .menu-btn {
    display: flex;
    align-items: center;
  }

  .header .header-content .menu-btn .menu {
    display: block;
  }

  .header .header-content .menu-btn .close {
    display: none;
  }

  .active .header-content .menu-btn .menu {
    display: none;
  }

  .active .header-content .menu-btn .close {
    display: block;
  }
  .active {
    position: relative;
  }
  .active .header-content .menu-btn {
    z-index: 1000;
  }

  .header .navbar .nav-links {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 2rem;
  }

  .header .navbar .nav-links li {
    text-align: center;
  }

  .body-content .title h1 {
    text-align: center;
    font-size: 3rem;
  }
}

@media (max-width: 27em) {
  .body-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .body-content .title h1 {
    text-align: center;
    font-size: 2rem;
  }

  header {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    background-size: auto 70%;
    background-position: center;
    background-position: bottom;
  }
}
